body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(168, 84, 44);
}

button {
    background-color: gold;
    color: darkred;
    border-radius: 10px;
    border-color: darkred;
    font-size: 1.25rem;
    height : 50px;
}

.container {
    width: 750px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    border: 10px solid darkred;
    border-radius: 5%;
}

.colorChooser {
    height: 90px;
    width: 90px;
    font-size: 1.1rem;
    background-color: lightgray;
    color: darkred; 
    border-radius: 50%;
    border: 1px solid darkred;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonBox {
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 225px;
    flex-direction: row;
    align-items: center;
}

h1 {
    background-color: red;
    color: gold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.25rem;
}

.header {
    height: 100px;
}

#maincontent {
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    display: flex;
    flex-flow: column;
    border: 10px solid darkred;
    border-radius: 5%;
}

.pixelRow {
    display: flex;
    flex: auto;
}

.pixel {
    background-color: lightgray;
    flex: auto;
}

